.alter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.titleDB
{
    display: flex;
    justify-content: center;
    color: var(--darker-blue);
    font-size: 30px;
    font-family: sans-serif, Helvetica, Arial;
    margin: 10px 0;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
}

:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --dark-blue2: #034d5c;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #e2e7f0;
  }

  *{
    font-family: Helvetica, sans-serif;
  }

.table {
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #232323;
    color: var(--white);
  }
  
  .table td, .table th {
    border: 1px solid #232323;
    padding: 7px;
    margin: 2px;
  }
  
  .table tr:nth-child(even){background-color: var(--dark-blue);}
  .table tr:nth-child(odd){background-color: var(--dark-blue2);}
  
  .table tr:hover {background-color: #904e0d;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--darker-blue);
    color: rgb(230, 226, 226);
  }


  /* footer */ 

  .footer{

    background-color: var(--blue);
    margin-top:auto; 
    height: 12vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#txt-footer
{
    display: flex;
    align-items: center;

    height: 100%;
    width: 60%;
    font-size: 1.0vw;
    color: var(--white);
}
#integrantes
{
    padding: 5px;
}
.integrantesTodos
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    font-size: 1.0vw;
    color: var(--white);
}

.addCmp{
  border-radius: 10px;
  border: none;
  background-color: darkgreen;
  color:#ffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0px;
  box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.addCmp:hover{
  background-color: rgba(183, 183, 183, 0.727);
  color: darkgreen;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.btn{
  display: flex;
  justify-content: end;
  margin: 5px auto;
  width: 80%;
}

.carrinho{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto 10%;
}

.prod{
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  gap: 2.5rem;
}

.list{
  flex: 1;
}

.resumo{
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 0.5rem;
  border-radius: 10px;
  background-color: var(--dark-blue);
  box-shadow: 4px 4px 4px rgb(0,0,0,0.7);
}

.menuResumo, .menuItens{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 25px;
}

.menuItens{
  font-size: 16px;
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed white;
}

.menuConteudo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuTotal{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.itens{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  box-shadow: 4px 4px 4px rgb(0,0,0,0.7);
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  color:white;
}

.subtitulo{
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

.imgTitulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.preco{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}

.preco .val, #title{
  font-size: 30px;
  font-weight: bold;
}

.titulo{
  line-height: 30px;
}

.alterProds{
  padding: 8px;
  background:none;
  border-radius: 3px;
  border: 1.5px solid;
}

.qtde{
  padding: 1px 8px;
  background:white;
  color: #000000;
  border-radius: 3px;
  border: 1.5px solid;
}