:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

.estrelas{
    display: inline-block;
    padding: 2px;
    margin: 5px;
    color: #ee9b00;
}

.detalhes{
    font-size: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;

    display: flex;
    justify-content: space-evenly;

    width: 45vw;
    background: #343a40;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.807);

}

.titulo{
    font-size: 24px;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--black);
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.itens{
    padding: 10px;
    width: auto;
}

.campos{
    padding: 10px;
    display: block;
    color: #fff;
}

.voltar{
    color: #fff;
    display: flex;
    justify-content:right;
    padding: 10px;
}

.addCar{
    border-radius: 10px;
    border: none;
    background-color: #ca6702;
    color:#000000;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
}

.addCmp{
    border-radius: 10px;
    border: none;
    background-color: darkgreen;
    color:#000000;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
}

.botoes{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    flex: 1 1 auto;
}

footer{
    background-color: #001219;
    height: 100px;
    width: 100%;
    bottom: 0;
}