  :root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

body{
  min-height:100vh; 
  margin:0; 
  position: relative; 
  background-color: var(--orange);
  font-family: Helvetica, sans-serif;
}

main{
  display: flex;
  flex-direction:column;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
  margin: 5vh 20vh;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid;
  background-color: white;
  text-align: justify;
  line-height: 35px;
  text-indent: 1.5cm;
  box-shadow: 4px 4px 4px rgb(0,0,0,0.7);
}



.devsgerais{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.titulo1{
  font-size: 30px;
  color: var(--dark-blue); 
  font-weight: bold;
  text-align: center;
  margin: 10vh 0 0 0;
  padding: 10px;
}

.titulo2{
  font-size: 30px;
  color: var(--dark-blue); 
  font-weight: bold;
  text-align: center;
  margin: 0 0 0 0;
  padding: 10px;
}

.nomedevs{
  width: 100%;
  text-align: justify;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  color: white;
  line-height: 30px;
}

img{
  border-radius: 10px;
}

.devs{
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  border-radius: 10px;
  background-color: #343a40;
  width: 540px;
  margin-block: 10px;
  box-shadow: 4px 4px 4px rgb(0,0,0,0.7);
}

.devs:hover{
  background-color: #5d636a;
}

@media
(prefers-reduced-motion: no-preference) 
{
    html 
    {
        scroll-behavior: smooth;
    }
}

*{ padding: 0; margin: 0;}