:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

.detalhes{
    font-size: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;

    display: block;
    width: 45vw;
    background: #343a40;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.807);

}

.titulo{
    font-size: 24px;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--dark-orange); 
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.itens{
    padding: 15px;
    margin: 5px auto;
    width: 35vw;
    border: 2px inset;
    border-radius: 10px;
    /* display: flex;
    justify-content:space-evenly; */
}

.campos{
    padding: 10px;
    display: block;
    color: #fff;
    font-weight: bold;
}

.voltar{
    color: #fff;
    display: flex;
    justify-content:right;
    padding: 10px;
}

/* .alter{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
} */

.btnEnviar{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    color: black;
    font-size: 18px;
    background-color: rgba(127, 214, 127, 0.515);
    border-color: rgb(0, 101, 0);
}

.btnEnviar:hover{
  background-color: rgba(183, 183, 183, 0.727);
  color: darkgreen;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

footer{
    background-color: #001219;
    height: 100px;
    width: 100%;
    bottom: 0;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }
  
  .txt_field span{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0px;
    height: 2px;
    background: var(--orange);
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: var(--orange);
  }
  
  .txt_field input:focus ~ span::before,
  .txt_field input:Valid ~ span::before{
    width: 100%;
  }