:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--orange) ;
}
header{
    background-color: var(--darker-blue);
}
.grid{
    display:grid; 
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
.textos{
    color: #000000;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    text-align: justify;
}

.verMais{
    text-align: center;
    color: var(--darker-red);
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

