:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

  .mudacor
  {
    background-color: var(--orange);
    height: 40vw;
    width: 100%;
    top: 0;
    position: absolute;
    z-index:-1;

  }
*{ padding: 0; margin: 0;}

body{
    min-height:100vh; 
    margin:0; position: relative; 
    background-color: #006073;
    display: flex;
    justify-content: center;
}

.main{
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.mae{

    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vw;

}
.txt-centro {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        
    font-size: 6vw;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

.imagem-grande {
    position: relative;
    display: inline-block;
    height: 30vw;
    justify-content: center;
    margin: 5vw;
}
.imagem-grande img{
    height: 100%;
    object-fit: cover;
}
.texto
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Helvetica';
    font-weight: bold;
    color: var(--darker-grey);
}
#txt1 {
    height: 1vw;
    margin: 2vw 0 2vw 0;
    width: 100%;
    font-size: 2vw;
    font-style: italic;
    color: var(--bright-blue);
}
.mae-imagens
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.imgs-home
{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}
.imgs-home img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.txt-imgs-home
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 1.5vw;
    font-family: 'Helvetica';
    font-weight: bold;
    color: var(--white);
    background-color: var(--darker-blue);
    padding: 3vw 0 3vw 0;
}
#img-home-1
{
    border: var(--darker-red) 0.5vw solid;
}
#maisvendido
{
    border: var(--dark-orange) 0.5vw solid;
}
#img-home-3
{
    border: var(--blue) 0.5vw solid;
}

#txt2 {
    width: 100%;
    margin: 2vw 0 1vw 0;
    font-size: 1.5vw;
    font-style: italic;
    color: var(--yellow);
}
.arrow
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow {
    height: 3vw;
    font-size: 2vw;
    margin: 0 0 1 0vw;
    color: var(--yellow)
}
.mae-video
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30vw;
    width: 100%;
}
.txt-video
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    font-size: 2vw;
    font-weight: bold;
    font-family: Helvetica;
    color: var(--white);
}
.txt-video p
{
    display: flex;
    align-items: center;
}

.video
{
    height: 100%;
    width: 100%
}
.video iframe
{
    height: 100%;
    width: 100%
}

.footer{
    background-color: var(--blue);
    margin-top:auto; 
    height: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    
}
#txt-footer
{
    font-size: 1.5vw;
    font-family: Helvetica;
    color: var(--white);
    padding-left: 15%;

}
.fim
{
    height: 10vw;
    width: 100%;
}




/* MUDANÇAS ACIMA */

/*
html, body{
    width: 100%;

    background-color: var(--orange) ;
    font-family: Helvetica, Arial, sans-serif;
}
header{
    background-color: var(--darker-blue);
}
.grid{
    display:grid; 
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    justify-content: center;
    justify-items: center;
    padding: 20px 5px;
}

.gridFilho{
    text-align: center;
    padding: 5px;
}

.textos{
    color: #000000;
    font-size: 18px;
    padding: 10px;
    text-align: justify;
}

.verMais{
    display: flex;
    justify-content: center;
    
    margin: 10px auto;
    width: 500px;
    
    border-radius: 5px;
    background-color: #000000eb;
}

#verMais{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    color: var(--dark-orange);
}

.videoLegenda{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    margin: 25px;
}

.legenda{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    font-weight: bold;
}

.voltar{
    color: #fff;
    display: flex;
    justify-content:right;
    padding: 10px;
}

footer{
    background-color: #001219;
    height: auto;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.all{
    padding: 10px;
    margin: 20px;
    font-size: 14px;
    color: #fff;

    display: flex;
    justify-content: space-between;
}

.integr{
    display: block;
    padding: 10px;
    margin: 10px;
}

#only{
    list-style: none;
    padding: 10px;
}

