:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #ebe0bd;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }

@media
(prefers-reduced-motion: no-preference) 
{
    html 
    {
        scroll-behavior: smooth;
    }
}


*{ padding: 0; margin: 0;}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
    margin:0; position: relative; 
    background-color: #006073;
}

.main{
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}



.txt-descricao-img-grande 
{
    color: var(--white);
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
}

@media only screen and (min-width: 1000px) 
{
        .mae{
            width: 60vw !important;
            margin: 0 auto;
        }
        .container-top
        {
            height: 100vh;
        }

        .nav-sticky
        {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            top: 0;
            position: relative;
            width: 100%;
        }
        .txt-descricao-img-grande 
        {
            color: var(--darker-blue) !important;
            font-family: Helvetica, sans-serif;
            font-size: 1.1vw;
            font-weight: bold;
        }
}

.container-top
{
    top: 0;
    position: relative;
    width: 100%;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    z-index: -1;
}

.txt-centro 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.descricao-img-grande 
{

    position: absolute;
    text-align: center;
    top: 92%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}


.txt-centro p 
{
    color: white;
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    font-size: 6vw;
    font-weight: 500;

}
  .container-img {
    position: relative;
    text-align: center;
}
#img-grande
{
    object-fit: cover;
    width: 100%;
    height: 70%;
    filter: brightness(90%);
}
.mae{

    margin: 0 auto;
    /* height: 100%; isso estava cortando as dimensões do video*/
    width: 90vw;
}


.texto
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Helvetica';
    font-weight: bold;
    color: var(--darker-grey);
}

#txt1 {
    height: 1vw;
    margin: 2vw 0 2vw 0;
    width: 100%;
    font-size: 2vw;

    color: var(--bright-blue);
}
.mae-imagens
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.imgs-home
{
    display: flex;
    align-items: center;
    flex-basis: 20%;
    flex-direction: column;
}
.imgs-home img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.txt-imgs-home p{
    text-align: center;
}
.txt-imgs-home 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: 1.5vw;
    font-family: 'Helvetica';
    font-weight: bold;
    color: var(--white);
    background-color: var(--darker-blue);
    padding: 3vw 0 3vw 0;
}
#img-home-1
{
    border: var(--darker-blue) 0.5vw solid;
    border-radius: 10px;
}
#maisvendido
{
    border: var(--dark-orange) 0.5vw solid;
    border-radius: 10px;
}
#img-home-3
{
    border: var(--blue) 0.5vw solid;
    border-radius: 10px;
}

#txt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1vw;
    font-size: 1.5vw;
    color: var(--yellow);
}
#txt2:hover{
    color:  #e0cb83;
}
.icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.icon img
{
    height: 3vw;
    width: 3vw;
}


a:link {
    text-decoration: none;
  }

#arrow {
    height: 3vw;
    font-size: 2vw;
    color: var(--yellow);
    text-decoration: none;
}
#arrow:hover{
    color: #ee9b00;
}
.mae-video
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 28vw;
    width: 100%;
}
.txt-video
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 2vw;
    font-weight: bold;
    font-family: Helvetica;
    color: var(--white);
}
.txt-video p
{
    display: flex;
    align-items: center;
}

.video
{
    height: 100%;
    width: 100%;
}
.video iframe
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 7px 11px rgb(0 0 0 / 70%);
}


#title-footer{
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

.fim
{
    height: 10vw;
    width: 100%;
}

.divider
{
    height: 1px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(238,155,0,1) 30%, rgba(238,155,0,1) 70%, rgba(0,212,255,0) 100%); 
    margin: 1vw 0 1vw 0;
}

/* --------------------------------- navbar ----------------------------------- */ 


.logoFooter{
    height: 30%;
    flex-basis: 20%;
    margin-left: 2vw;
}



