:root {
    --darker-blue: #01222f;
    --dark-blue: #006073;
    --blue:#0a9396;
    --bright-blue: #94d2bd;
    --yellow: #e9d8a6;
    --orange: #ee9b00;
    --dark-orange: #ca6702; 
    --red: #bb3e03;
    --dark-red: #ae2012;
    --darker-red: #9b2226;
    --darker-grey: #343a40;
    --black: #000000;   
    --white: #ffffff;
  }
body{
    background-color: var(--orange);
}

.perfil{
    font-family: Arial, Helvetica, sans-serif;
    background: #343a40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.807);
    display: block;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: none;
    border: none;
}

.campos{
    padding: 10px;
    display: block;
    color: var(--dark-orange);
    font-weight: bold;
}

.titulo{
    font-size: 30px;
    font-family: sans-serif, Helvetica, Arial;
    color: var(--dark-orange); 
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.detalhes{
    font-size: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;

    display: block;
    width: 42vw;
    background: #343a40;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.807);

}

.imagem{
    padding: 0px 20px;
}

.itemPerfil{
    padding: 15px;
    margin: 15px auto;
    width: 35vw;
    border: 2px inset;
    border-radius: 10px;
    display: flex;
    justify-content:normal;
}
.itemEnder{
    display: flex;
    justify-content: space-evenly;
}

.linha{
    border: 2px inset;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 39vw;
}
.fullPerfil{
    display: flex;
    justify-content: space-evenly;
    margin: 8vh 25px 1vh 25px;
    padding: 15px;
} 

.itens{
    padding: 15px;
    margin: 15px auto;
    width: 35vw;
    border: 2px inset;
    border-radius: 10px;
}

.alter{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
}

.btnEnviar{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    color: black;
    font-size: 18px;
    background-color: rgba(127, 214, 127, 0.515);
    border-color: rgb(0, 101, 0);
}

.btnEnviar:hover{
    background-color: rgba(183, 183, 183, 0.727);
    color: darkgreen;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.boxCep{
    display: flex;
    justify-content: space-between;
}

#cepP{
    font-size: 16px;
    border-radius: 10px;
    padding: 2.5px;
    margin: 5px;
    width: 50%;
    color: black;
    background-color: rgba(183, 183, 183, 0.727) ;
}

#cepP:hover{
    color: rgba(183, 183, 183, 0.727);
    background-color: darkgreen;
}

.infos{
    width: 50%;
    margin: 0 10px;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }

  .txt_field2{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 15px 0;
  }
  
  .txt_field input, .txt_field .inputs{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    background: none;
    outline: none;
  }

  /* .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  } */

  .txt_field span{
    /* content: '';
    position: absolute;
    top: 40px;
    left: 0; */
    width: 100px;
    height: 2px;
    background: var(--orange);
    transition: .5s;
  }

