.grid{
    display:grid; 
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 80%;
}

.mae{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.itens{
   text-align: center;
   font-family:  Helvetica,Arial, sans-serif;
   font-size: 14px;

    padding: 10px;
    background-color: azure;
    border-radius:10px;
}

.desc{
    display: block;
    padding: 10px;
}

.btnCmp{
    border-radius: 10px;
    border: none;
    background-color: darkgreen;
    color:#000000;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.avs{
    border-radius: 10px;
    border: none;
    background-color: #ca6702;
    color:#000000;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}