.grid{
    display:grid; 
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 90%;
}

.mae{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.itens{
   text-align: center;
   font-family:  Helvetica,Arial, sans-serif;
   font-size: 14px;

    padding: 10px;
    background-color: azure;
    border-radius:10px;
}

.desc{
    display: block;
    margin: 10px;
}

.btnCmp{
    border-radius: 10px;
    border: none;
    background-color: darkgreen;
    color:#000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.btnCmp:hover{
    background-color: rgba(183, 183, 183, 0.727);
    color: darkgreen;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.avs{
    border-radius: 10px;
    border: none;
    background-color: #ca6702;
    color:#000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.avs:hover{
    background-color: rgba(183, 183, 183, 0.727);
    color: #ca6702;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.estrelas{
    display: inline-block;
    padding: 2px;
    margin: 5px;
    color: #ee9b00;
}

.item{
    padding: 5px;
}