.grid{
    display:grid; 
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
.itens{
   text-align: center;
   font-family:  Helvetica,Arial, sans-serif;
   font-size: 14px;
}